/* HTML */
#graph div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: lightgreen;
}

/* SVG */
#svgchart rect, #svgchart text.axisLabel {
	fill: steelblue;
}

#svgchart text {
	fill: red;
	font: 10px sans-serif;
	text-anchor: end;
}

#svgchart text.axisLabel {
	font-size: 18px;
}
